# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Notebooks Jupyter
.ipynb_checkpoints/
# Dossier de build contenant tous les fichiers générés (scripts, qmd compilés, logs)
build/


# Environnements Virtuels
venv/
.venv/
env/
.env/

# Données (ignorer les gros fichiers sauf notre dataset d'exemple brut)
data/raw/*
!data/raw/raw_data_sample.csv
!data/raw/.gitkeep
data/processed/*
!data/processed/cleaned_data_sample.csv
!data/processed/.gitkeep
!data/processed/cleaned_data_sample.csv

# Quarto & Rendu
.quarto/
*_files/
*_cache/

# Fichiers OS
.DS_Store
Thumbs.db

*.pdf
*.html
/.quarto/
**/*.quarto_ipynb
